@media (min-device-width: 1280px) {

    #map-block {
        position: relative;

        h3 {
            position: absolute;
            width: 100%;
            top: 50px;
            font-size: 50px;
            text-align: center;
        }

        img {
            width: 100%;
        }
    }

}