@media (max-width: 767px) {

    #galery-block {

        .galery {
            display: none;
        }

        .galery-carousel {
            display: block;

            img {
                max-width: 390px;
                max-height: 400px;
            }
        }

    }

}

